################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Gruberooapp/FileContentIndex
/.vs/Gruberooapp/v17/.suo
.vs/
/obj/Debug/net8.0/ref/Gruberooapp.dll
/obj/Debug/net8.0/refint/Gruberooapp.dll
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/Gruberooapp.AssemblyInfo.cs
/bin/Debug/net8.0/Gruberooapp.dll
/.vs/Gruberooapp/v17/DocumentLayout.backup.json
/.vs/Gruberooapp/v17/.suo
/bin/Debug/net8.0/Gruberooapp.exe
/bin/Debug/net8.0/Gruberooapp.pdb
/obj/Debug/net8.0/Gruberooapp.AssemblyInfoInputs.cache
/obj/Debug/net8.0/Gruberooapp.sourcelink.json
/obj/Debug/net8.0/Gruberooapp.pdb
/obj/Debug/net8.0/Gruberooapp.dll
/.vs/Gruberooapp/v17/DocumentLayout.json
