################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Gruberooapp/FileContentIndex
/.vs/Gruberooapp/v17/.suo
.vs/
/obj/Debug/net8.0/ref/Gruberooapp.dll
/obj/Debug/net8.0/refint/Gruberooapp.dll
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/Gruberooapp.AssemblyInfo.cs
/bin/Debug/net8.0/Gruberooapp.dll
/.vs/Gruberooapp/v17/DocumentLayout.backup.json
/.vs/Gruberooapp/v17/.suo
/bin/Debug/net8.0/Gruberooapp.exe
/bin/Debug/net8.0/Gruberooapp.pdb
/obj/Debug/net8.0/Gruberooapp.AssemblyInfoInputs.cache
/obj/Debug/net8.0/Gruberooapp.sourcelink.json
/obj/Debug/net8.0/Gruberooapp.pdb
/obj/Debug/net8.0/Gruberooapp.dll
/.vs/Gruberooapp/v17/DocumentLayout.json
/.vs/Gruberooapp/CopilotIndices/17.14.1347.20289/CodeChunks.db
/.vs/Gruberooapp/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
/.vs/ProjectEvaluation/gruberooapp.metadata.v9.bin
/.vs/ProjectEvaluation/gruberooapp.projects.v9.bin
/.vs/ProjectEvaluation/gruberooapp.strings.v9.bin
/.vs/Gruberooapp/DesignTimeBuild/.dtbcache.v2
/.vs/Gruberooapp/FileContentIndex/78c9c84c-5aa1-42e2-9925-73740c04f02a.vsidx
/.vs/Gruberooapp/FileContentIndex/80389459-b567-4487-b33e-187f7137c00c.vsidx
/.vs/Gruberooapp/FileContentIndex/87ca41e2-1769-4236-90d5-2eaa70829042.vsidx
/.vs/Gruberooapp/v17/.futdcache.v2
/program.cs
